<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/home" class="logo">📚 BookStore</a>
  </div>

  <div class="nav-right" *ngIf="user">
    <span class="greeting"
      >Hi, <strong>{{ user.email }}</strong></span
    >

    <button *ngIf="user.role === 0" class="cart-btn" (click)="goToCart()">
      🛒 Cart
    </button>

    <button *ngIf="user.role === 0" class="history-btn" (click)="goToHistory()">
      🧾 Order history
    </button>

    <button
      *ngIf="user.role === 1"
      class="book-mgmt-btn"
      (click)="goToBookManagement()"
    >
      📘 Book Management
    </button>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div *ngIf="!user" class="nav-right">
    <a routerLink="/login">Login</a>
  </div>
</nav>
