<nav class="navbar">
  <div class="nav-left">
    <a [routerLink]="user?.role === 1 ? '/dashboard' : '/home'" class="logo">
      📚 BookStore
    </a>
  </div>

  <div class="nav-right" *ngIf="user">
    <span class="greeting"
      >Hi, <strong>{{ user.email }}</strong></span
    >

    <button class="order-mgmt-btn" (click)="goToHistory()">
      🧾 Order Management
    </button>

    <ng-container *ngIf="user.role === 0">
      <button class="cart-btn" (click)="goToCart()">🛒 Cart</button>
    </ng-container>

    <ng-container *ngIf="user.role === 1">
      <button class="book-mgmt-btn" (click)="goToBookManagement()">
        📘 Book Management
      </button>
    </ng-container>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div *ngIf="!user" class="nav-right">
    <a routerLink="/login">Login</a>
  </div>
</nav>
